<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="speed" value="100"/>
    <add key="acquireTime" value="1000"/>
    <add key="x" value="475"/>
    <add key="y" value="469"/>
    <add key="z" value="364"/>
    <add key ="garbageX" value="50"/>
    <add key ="garbageY" value="50"/>
    <add key ="cylinderOffsetX" value="-40"/>
    <add key ="cylinderOffsetY" value="0"/>
    <add key ="StepsPerMM" value="500"/>
    
  </appSettings>
</configuration>